* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    margin: 47px 0 0 42px;

}

.link-header {
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: ;
    margin-right: 32px;
    color: #17233D
}

.button-header {
    cursor: pointer;
    background: #6FBF44;
    border-radius: 6px;
    border: 1px solid #4CB538;
    font-weight: 500;
    font-size: 16px;
    width: 124px;
    height: 51px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF
}

.logo-desafio {

    margin: 163px 0 0 121px;
    display: inline-block;

}

section {
    width: 493px;
    margin-left: 85px;
    display: inline-block;

}

h1 {

    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0, 596154px;
    color: #161A49;
}

p {
    
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0, 5px;
    margin-top: 47px;
    margin-bottom: 55px;
    color: #4B505A
    
    
}

.button-main {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    cursor:pointer;
    background: transparent;
    border: none;
    color: #6FBF44 
    
}